/* LOGIN */
.ltitle {
    position: absolute;

    width: 250px;
    height: 80px;
    left: 515px;
    top: 213px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.lId {

    /* ID */

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 70px;
    left: 465px;
    top: 402px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;

    font-size: 20px;
}

.lPw {
    /* PW */

    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 70px;
    left: 465px;
    top: 517px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;

    font-size: 20px;
}

.okBtn {
    box-sizing: border-box;

    position: absolute;
    width: 70px;
    height: 30px;
    left: 595px;
    top: 621px;

    background: #FFF27F;
    border: 0.5px solid #000000;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 300;
}